.carousel {
    margin-left: 22px;
    margin-top: 22px;
    position: relative;
}

.carousel_1 {
    margin-top: 0;
}

.carousel__title {
    color: white;
    margin-bottom: 8px;
    display: inline-block;
}

.carousel__items {
    display: flex;
    width: fit-content;
    align-items: center;
}

.carousel__arrows {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.carousel__move {
    position: absolute;
    align-self: center;
    display: grid;
    height: 17vw;
    max-height: 140px;
    width: 4.3%;
    background-color: #2f2f2fd1;
    z-index: 1;
    cursor: pointer;
}

.carousel__move_next {
    transform: rotate(180deg);
    justify-self: end;
}

.carousel__move_previous {
    display: none;
}

.carousel__content {
    overflow: scroll;
    scroll-behavior: smooth;
}

.carousel__content::-webkit-scrollbar {
    display: none;
}

.carousel__icon {
    width: 2vw !important;
    height: 2vw;
    align-self: center;
    justify-self: center;
    width: 9%;
    outline: 0;
    display: none;
}

.carousel__items:hover>.carousel__arrows>.carousel__move>.carousel__icon {
    display: block;
}

@media (min-width: 786px) {
    .carousels {
        margin-top: -100px;
    }

    .carousel__arrows {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
    }
}